<!DOCTYPE html>
<html>
	<head>
		<title>RethinkDB CRUD Example</title>
	</head>
	<body>
		<h1>Games:</h1>
		<table border="1" cellspacing="0">
			<tr>
				<td>Player 1</td>
				<td>Player 2</td>
				<td>Status</td>
				<td></td>
			</tr>
			<% for (var i=0; i<games.length; i++) { %>
			<tr>
				<td><%=games[i].player1%></td>
				<td><%=games[i].player2%></td>
				<td><%=games[i].status%></td>
				<td><a href="/update?id=<%=games[i].id%>">Update</a></td>
			</tr>   
			<% } %>
		</table>
		<p><a href="/create">Create New Game</a></p>
	</body>
</html>